on:
  schedule:
    - cron: "0 9/6 * * *"

name: Deploy - Force full fetch

env:
  TZ: Asia/Tokyo

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      HEADLESS: true
      FORCE_FULL_FETCH: true
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: make node_modules
      - name: Run
        run: make run
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: dist
          publish_dir: ./dist
